<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="AngularRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>

    <httpProtocol>
      <customHeaders>
        <remove name="X-Frame-Options" />
        <add
          name="Content-Security-Policy"
          value="frame-ancestors 'self' https://servitzhome.fritz.co.il https://servitzhome-dev.fritz.co.il https://servitzhome-test.fritz.co.il;" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
